{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block content %}

<header>
	<h1>{{ book['title'] }}
		<small>{{ book['actors'] | sort | join(',') }}</small>
	</h1>
</header>

<article>
	{% if '_files' in book %}
	<h3>{%trans%}Download{%endtrans%}</h3>
	<ul>
		{% for file in  book['_files'] %}
		<li><a href="{{
			url_for('download_book', bookid=bookid, fname=file['path'])
			}}">{{ file['path'] }}</a> ({{file['notes']}})
		</li>
		{% endfor %}
	</ul>
	{% endif %}

	<h3>{%trans%}Details{%endtrans%}</h3>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{%trans%}Field{%endtrans%}</th>
				<th>{%trans%}Value{%endtrans%}</th>
			</tr>
		</thead>
		<tbody>

		{% for key in book %}
		<tr>
			<td>{{ key }}</td>
			<td>{{ book[key] }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>

	{% if similar %}
	<h3>{%trans%}Similar books{%endtrans%}</h3>
	<table class="table table-striped"> <!-- definitely should not be formatted like this! -->
		<tbody>
			{% for book in similar %}
			<tr>
				<td><a href="{{url_for('view_book',
				bookid=book['_id'])}}">
				{{ book['_source']['title'] }}
					</a></td>
				<td>{{ book['_source']['actors'] | join(',') }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
</article>
{% endblock content %}
