{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}
Libreant | Homepage
{% endblock %}

{% block navbar %}
{% import 'navbar.html' as navbar %}
{{navbar.navbar(search=False)}}
{% endblock %}

{% block content %}
<div class="container">
    <h1>Libreant <small>{%trans%}What do you want to read today?{%endtrans%}</small></h1>

    <form action="{{ url_for('search') }}" role="form">
        <div class="input-group">
	        <input name="q" class="form-control" type="text"/>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> {%trans%}Search{%endtrans%}</button>
            </span>
        </div>
    </form>

{% endblock content %}
