{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% import 'searchbar.html' as searchbar %}

{% block title %}
Libreant | {%trans%}Search{%endtrans%}: {{ query }}
{% endblock %}

{% block navbar %}
{% import 'navbar.html' as navbar %}
{{navbar.navbar(search=False)}}
{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='item_list.css') }}" rel="stylesheet">
<style>
.search-info{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
</style>
{% endblock styles %}

{% block content %}
<div class="container">
    
    <div class="search-bar">
        {{ searchbar.searchbar(search_query=query) }}
    </div>
    
    <div class='search-info'>
        {% trans num = books|length%}{{num}} result was found for{%pluralize%}{{num}} results were found for{% endtrans %} <strong>{{ query }}</strong>
    </div>

    {% if not books %}

    <div class="list-warning">
        <div class="alert alert-warning" role="alert">
            <span class="sr-only">Error:</span>
            {%trans%}Sorry, no books matching your query{%endtrans%}
        </div>
    <div>

    {% else %}

    <div id="item-list">
        {% for b in books %}
        <div class="item-div row dyn-href" href="{{url_for('view_book', bookid=b['_id'])}}">
            <div class="item-thumbnail hidden-xs col-sm-1 vcenter">
                <a href="{{url_for('view_book', bookid=b['_id'])}}">
			        <span class="glyphicon glyphicon-book"></span>
		        </a>
            </div>
            <div class="item-main col-xs-12 col-sm-7 vcenter">
                <a class="item-title" href="{{url_for('view_book', bookid=b['_id'])}}"
                    {% if 'title' in b %}
                        title="{{ b['title'] }}"> {{ b['title'] }}
                    {% else %}
                        title="{{ b['_id'] }}"> {{ b['_id'] }}
                    {% endif %}
                </a>
            </div>
            <div class="item-sub col-xs-12 col-sm-3 vcenter">
                <ul class="meta-list list-unstyled">
                    <li><span class="glyphicon glyphicon-flag"></span> {{ b['_language'] }}</li>
                    {% if 'actors' in b %}
                    <li><span class="glyphicon glyphicon-user"></span> {{ b['actors'] | join(',')}}</li>
                    {% endif %}
                    {% if '_files' in b %}
                    <li><span class="glyphicon glyphicon-file"></span> {{ b['_files'] | length }}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>

    {% endif %}
</div>
{% endblock content %}

{% block scripts %}
    {{super()}}
    <script src="{{ url_for('static', filename='js/ui-main.js') }}"></script>
{% endblock scripts %}
