{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% import 'searchbar.html' as searchbar %}

{% block title %}
Libreant | {%trans%}Search{%endtrans%}: {{ query }}
{% endblock %}

{% block navbar %}
{% import 'navbar.html' as navbar with context %}
{{navbar.navbar(search=False)}}
{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='item_list.css') }}" rel="stylesheet">
<style>
.search-info{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
</style>
{% endblock styles %}

{% block content %}
<div class="container">

    <div class="search-bar">
        {{ searchbar.searchbar(search_query=query) }}
    </div>

    <div class='search-info'>
        {% trans num = total%}{{num}} result was found for{%pluralize%}{{num}} results were found for{% endtrans %} <strong>{{ query }}</strong>
    </div>

    {% if not books %}

    <div class="list-warning">
        <div class="alert alert-warning" role="alert">
            <span class="sr-only">Error:</span>
            {%trans%}Sorry, no books matching your query{%endtrans%}
        </div>
    <div>

    {% else %}

    <div id="item-list">
        {% for b in books %}
        <a href="{{url_for('view_volume', volumeID=b['_id'])}}">
        <div class="item-div row">
            <div class="item-thumbnail hidden-xs col-sm-1 vcenter">
                <span class="glyphicon glyphicon-book"></span>
            </div>
            <div class="item-main col-xs-12 col-sm-7 vcenter">
                <p class="item-title"
                    {% if 'title' in b %}
                        title="{{ b['title'] }}"> {{ b['title'] }}
                    {% else %}
                        title="{{ b['_id'] }}"> {{ b['_id'] }}
                    {% endif %}
                </p>
            </div>
            <div class="item-sub col-xs-12 col-sm-3 vcenter">
                <ul class="meta-list list-unstyled">
                    <li><span class="glyphicon glyphicon-flag"></span> {{ b['_language'] }}</li>
                    {% if 'actors' in b %}
                    <li><span class="glyphicon glyphicon-user"></span> {{ b['actors'] | join(',')}}</li>
                    {% endif %}
                    {% if (b['_attachments']|length) > 0 %}
                    <li><span class="glyphicon glyphicon-file"></span> {{ b['_attachments'] | length }}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>


    {% if pagination %}
        {% set search_url = ("%s?q=%s&size=%d&page=" | format(url_for('search'), query, size))+"%d" %}
        {% import 'pagination.html' as pag %}
        <div class='text-center'>
            {{ pag.pagination(pagination['prev'],
                              pagination['first'],
                              pagination['current'],
                              pagination['last'],
                              pagination['next'],
                              target_url = search_url) }}
        </div>
    {% endif %}

    {% endif %}
</div>
{% endblock content %}
