{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% import 'searchbar.html' as searchbar %}

{% block title %}
Libreant | {%trans%}Search{%endtrans%}: {{ query }}
{% endblock %}

{% block navbar %}
{% import 'navbar.html' as navbar %}
{{navbar.navbar(search=False)}}
{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='search.css') }}" rel="stylesheet">
{% endblock styles %}

{% block content %}
<div class="container">
    
    {{ searchbar.searchbar(search_query=query) }}

    <hr />
    
    <hgroup class="mb20">
        <h1>{%trans%}Search results{%endtrans%}</h1>
        <h2 class="lead">{% trans num = books|length%}{{num}} result was found for{%pluralize%}{{num}} results were found for{% endtrans %} <strong>{{ query }}</strong></h2>
    </hgroup>

    {% if not books %}

    {%trans%}Sorry, no books matching your query{%endtrans%}

    {% else %}

    <section class="search-results col-xs-12 col-sm-12 col-md-12 col-lg-12">
    {% for b in books %}
    <article class="search-result row">
        <div class="hidden-xs col-sm-2 col-md-2 col-lg-2">
		{# TODO: cover image #}
		<a href="{{url_for('view_book', bookid=b['_id'])}}"
			title="{{ b['_id'] }}">
			<i class="glyphicon glyphicon-book"
				style="font-size: 400%"></i>
		</a>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-6 col-lg-6 excerpet">
            <h3><a href="{{url_for('view_book', bookid=b['_id'])}}" title="{{ b['_id'] }}">
                    {{ b['title'] }}
            </a></h3>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
            <ul class="meta-search">
                {# TODO: default_locale.languages[b['_language']] #}
                <li><i class="glyphicon glyphicon-flag"></i> <span>{{ b['_language'] }}</span></li>
                {% if 'actors' in b %}
                <li><i class="glyphicon glyphicon-user"></i> <span>{{ b['actors'] | join(',')}}</span></li>
                {% endif %}
                {% if 'tags' in b %}
                <li><i class="glyphicon glyphicon-tags"></i> <span>{{ b['tags'] | join(',') }}</span></li>
                {% endif %}
                {% if 'location' in b %}
		<li><i class="glyphicon glyphicon-globe"></i>
			<span title="{{ b['location'] }}">
				{{ b['location'] | truncate(length=40) }}
			</span></li>
                {% endif %}
            </ul>
        </div>
        <span class="clearfix border"></span>
    </article>
    {% endfor %}
    </section>

    {% endif %}

</div>
{% endblock content %}

