.item-thumbnail{
    text-align: center;
}
.item-thumbnail .glyphicon{
    font-size: 4em;
    color: #6C6B6B;
}
.item-main, .item-sub{
    max-height: 10em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-title{
    color: #232323;
    font-size: 1.4em;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.meta-list{
    margin: 0;
}
.meta-list .glyphicon{
    margin-right: 4px;
}
#item-list > a:nth-child(1) > .item-div:nth-child(1) {
    border-top: 1px solid #EEE;
}

#item-list > a, #item-list > a:hover {
    color: #232323;
    text-decoration: none;
}

#item-list .item-div{
    border-bottom: 1px solid #EEE;
    margin: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
}

#item-list .item-div:hover{
    cursor: pointer;
    background-color: #F7F7F7;
}

.list-warning{
    text-align: center;
}
.list-warning .alert{
    display: inline-block;
    margin: auto;
    margin-top: 25px;
}
